<!-- <p>Ideas:</p>

<ul>
    <li>What's the most popular track?</li>
    <li>What's the fastest/slowest?</li>
    <li>Distribution of BPM</li>
    <li>What is the danceability of the current playlist?</li>
    <li>Is this track loud or quiet?</li>
    <li>Search for a playlist, or pick from a selection</li>
    <li>Sorting the list of tracks by a given attribute</li>
</ul> -->
<mat-progress-spinner *ngIf="isLoading" class="example-margin" [color]="'primary'" [mode]="'indeterminate'" style="margin:0 auto;">
</mat-progress-spinner>
<div class="row">
    <div class="col-md-6">
        <mat-card style="max-width: 650px;">
            <div style="display: grid; min-height: 400px;">
                <ngx-charts-bar-horizontal *ngIf="!isLoading" [results]="popularTracks"
                    [xAxisLabel]="'Popularity (0-100)'" [legendTitle]="'Popular Tracks'" [yAxisLabel]="'Track Name'"
                    [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true"
                    [gradient]="true">
                </ngx-charts-bar-horizontal>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card style="max-width: 650px;">
            <div style="display: grid; min-height: 400px;">
                <ngx-charts-advanced-pie-chart *ngIf="!isLoading" [results]="artistData" [label]="'Artists on Album'"></ngx-charts-advanced-pie-chart>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card style="max-width: 650px;">
            <div style="display: grid; min-height: 400px;">
                <ngx-charts-bar-horizontal *ngIf="!isLoading" [results]="fastestTracks"
                    [xAxisLabel]="'BPM'" [legendTitle]="'Fastest Tracks'" [yAxisLabel]="'Track Name'"
                    [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true"
                    [gradient]="true">
                </ngx-charts-bar-horizontal>
            </div>
        </mat-card>
    </div>
    <div class="col-md-6">
        <mat-card style="max-width: 650px;">
            <div style="display: grid; min-height: 400px;">
                <ngx-charts-bar-horizontal *ngIf="!isLoading" [results]="slowestTracks"
                    [xAxisLabel]="'BPM'" [legendTitle]="'Slowest Tracks'" [yAxisLabel]="'Track Name'"
                    [legend]="true" [showXAxisLabel]="true" [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true"
                    [gradient]="true">
                </ngx-charts-bar-horizontal>
            </div>
        </mat-card>
    </div>
</div>
